@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-primary: #24222D;
  --color-secondary: #8263F4;
  --color-foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode using .dark class */
.dark {
  --background: #24222D;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Questrial', sans-serif;
}

.btn-bg {
  background: linear-gradient(96deg, #D437ED 5.3%, #C4674B 33.08%, #D9EF34 62.81%, #8263F4 88.72%);
  filter: blur(10px);
  opacity: 1;
}


::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f105;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5858ed00;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d2d2c98;
}
